lighthouse-addons/*
doc/*
db/schema.rb
tmp/*
public/system/*
.bundle
config/database.yml
db/*.sqlite3
log/*.log
tmp/**/*
config/deploy.rb
config/development.sphinx.conf
log/searchd.development.pid
db/sphinx/development/*
config/social_keys.yml
.idea/
