<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= (image_tag @user.image_url(:thumb).to_s) if @user.image? %>
  <%= @user.name %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %>
