<h1 style="color:green">Read me please....!!!</h1>
<h2>Sample Application showing Social login Integration with Rails</h2>
<p>This is a demo for the Social login with Twitter + Facebook + Linkedin + Github + Google + Devise</p>
<p>Also If user is logged in that case he can link his other social accounts too. To test out the functionality of connecting other social account. Go to edit profile once you are logged in by clicking on your name in header and check status of logged in accounts and you can also link the account which are not yet connected. Click on those urls to connect those social networks</p>
<p><i>There are lot of commented out gems in the Gemfile. I will recommend you to check out them too. They are one of the most common gems that I use in my various projects.</i></p>
<p style="color:red">No spam will be sent on any of your social network. No posting ever. No emails ever. I promise :)</p>

