<h1>Sample Application showing Social login Integration with Rails</h1>
<p>This is a demo for the Social login with Twitter + Facebook + Linkedin + Github + Google + Devise</p>
<p>Also If user is logged in that case he can link his other social accounts too. To test out the functionality of connecting other social account. Go to edit profile once you are logged in and check status of logged in accounts and you can also link the account which are not yet connected.</p>
<p><i>There are lot of commented out gems in the Gemfile. I will recommend you to check out them too. They are one of the most common gems that I use in my various projects.</i></p>
